:root{
    --var-opacity-option: 0.7;    /*   Acrylic opacity from 0 to 1    */
    --var-color-saturation: 1.2; /* 0 to 999 where 1 is the default  */
    --var-contrast: 1;          /*     Increase for darker blacks   */

    --var-opacity-titlebar: 0.6;
    --var-opacity-left-sidebar: 0.2;
    --var-opacity-bottom-input: 0.0;
    --var-opacity-right-sidebar: 0.4;
    --var-opacity-inner-messages: 0.2;

    /* 
    You can try: 
    0.1 opacity with 99 saturation
    0.4 opacity with 2.8 saturation
    0.6 opacity with 1.8 saturation            */
    
}


/* MICA */
body, #app-mount,
.typeWindows__5fa63,
.app_de4237,.bg__12180,
.guilds__2b93a,.scroller__3d071 {
        background: transparent !important;
}

/* Darker transparency background*/

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
    opacity: var(--var-opacity-option); /* Átlátszóság beállítása (0-től 1-ig terjedő értékek) */
    z-index: -1; /* Az átlátszó háttér mögé helyezése */
    filter: saturate(var(--var-color-saturation)) contrast(var(--var-contrast));
}

.sidebar_ded4b5 {
    background: transparent

}


.scroller_f0f183{
    border-bottom-left-radius: calc(8px * (1 - 9999 * var(--var-opacity-bottom-input, 0)));
}

.panels__58331, .container_ca50b9 {
    margin-left: 0px !important;}

.panels__58331 {
    margin-left: calc(5px * (1 - 9999 * var(--var-opacity-bottom-input, 0)))!important;}
.container_ca50b9 {
    margin-left: calc(-5px * (1 - 9999 * var(--var-opacity-bottom-input, 0)))!important;}





.header__104ca, .searchBar_e4ea2a {
  border-bottom-left-radius: 
    calc(8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0)));
}
.panels__58331 {
  border-top-left-radius: 
    calc(8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0)));
}
.container__590e2:after
{
  left:  calc(8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0)))!important;
}

.mentioned__58017 {
    border-radius: 5px;
}


.content__4bf10:has(.tabBody_b3d268) .panels__58331, .content__4bf10:has(.card__691f2) .panels__58331{
    border-top-right-radius: 8px;
}

.container_b181b6 {
    background: var(--var-opacity-left-sidebar);
}

.theme-light .mainCard__8a660 {
    background-color: rgba(255,255,255,var(--var-opacity-titlebar));}
.theme-dark .mainCard__8a660 {
    background-color: rgba(0,0,0,var(--var-opacity-titlebar));}











.theme-light .container__590e2 {
    background: transparent
}

.theme-light .header__104ca {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar))!important;
    border-top-left-radius: 8px;
}
.theme-dark .container__590e2 {
    background: transparent!important;
}
.theme-dark .header__104ca {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar))!important;
    border-top-left-radius: 8px;
}

.theme-light .scroller_f0f183, .privateChannels__93473 .scroller__4b984 {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar))!important;
}
.theme-dark .scroller_f0f183 {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar))!important;
}

.panels__58331, .container_ca50b9, .panel_bd8c76.activityPanel__22355 {
    background: transparent!important;
}
.theme-light .panels__58331 {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input))!important;
}
.theme-dark .container_ca50b9 {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input))!important;
}

.chat__52833{
    background: transparent;
}

.theme-light .themed_b152d4 /*TITLE*/{
    background: rgba(255, 255, 255, var(--var-opacity-titlebar))!important;
}
.theme-dark .themed_b152d4 /*TITLE*/{
    background: rgba(0, 0, 0, var(--var-opacity-titlebar))!important;
}

.chatContent__5dca8{
    background: transparent!important
}

.theme-light .scroller__1f96e{
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages))!important;
}
.theme-dark .scroller__1f96e{
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages))!important;
}
.theme-light .channelTextArea__2e60f/*Üzenetírás*/{
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input))!important;
}
.theme-dark .channelTextArea__2e60f/*Üzenetírás*/{
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input))!important;
}
.channelTextArea__2e60f {
    background-color: transparent;
}
.themedBackground__6b1b6/*Üzenetírás*/ {
    background: transparent!important;
}

.theme-light .container_b2ce9c {
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar))!important;
}
.theme-dark .container_b2ce9c {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar))!important;
}
.member_b44d5d {
    background:transparent!important;
}

.privateChannels__93473{
    background: transparent!important;
}
.theme-dark .scroller__4b984 {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar))!important;
}
.theme-dark .searchBar_e4ea2a {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar))!important;
    border-top-left-radius: 8px;
}
.theme-light .searchBar_e4ea2a {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar))!important;
    border-top-left-radius: 8px;
}

.members__9f47b {
    background: transparent;}







.children__32014:after{
    display: none;
}

.form__13a2c:before {
    background: transparent!important;
}





.container_d667ff {background: transparent!important;}




.form__13a2c {
margin-top: 0px;
}


.theme-light .form__13a2c {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));
}
.theme-dark .form__13a2c {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
}




.profilePanel__12596 {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input));
}

.userPanelInnerThemed__1804b{
    background: transparent;
}

.userProfileOuterUnthemed__48723, .theme-dark .userProfileOuterThemed__6eb84 {
    background: transparent;
}
 .userProfileOuterUnthemed__48723, .userProfileOuterThemed__6eb84 {
    background:transparent!important;
}
.banner__6d414 {
    background-color: transparent!important;
}
.userPanelOuter__880e5 {
    --profile-gradient-overlay-color:transparent!important;
}
.overlayBackground__86b78{
    background-color: hsla(0,0%,0%,0.45);
}




/*HOME FUll screen right bar  ACTIVE NOW*/
.scroller__00e7e {
    border-left: 0px; 
    margin-left: 0px; 
}
.container__0a6a9 {
    background: transparent;
}
.theme-dark .nowPlayingColumn_f5023f {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}
.theme-light .nowPlayingColumn_f5023f {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}
.theme-dark .peopleColumn__51df3{
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar));
}
.theme-light .peopleColumn__51df3{
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar));
}
.tabBody_b3d268{
        background: transparent;
}
.theme-dark .actionButton__23182 {
    background-color: rgba(255, 255, 255, 0.05);}

/*Search sidebar area*/
.theme-light .searchResultsWrap__9f374 {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input));
}
.theme-dark .searchResultsWrap__9f374 {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input));
}
.theme-light .searchHeader__19d87{
    background: rgba(255, 255, 255, 0.25);
    margin-top: 1px!important;
}
.theme-dark .searchHeader__19d87{
    background: rgba(0, 0, 0, 0.25);
}

.theme-light .searchResult_dcd237 {
    background: rgba(255, 255, 255, 0.25);
}
.theme-dark .searchResult_dcd237 {
    background: rgba(0, 0, 0, 0.25);
}
.container__5c7e7 {
    background: transparent;
}


.wrapper_bd2abe.minimum_ebf000{
    background-color: transparent!important;
}




#vc-spotify-player {
    background: transparent!important;
}



.replyBar_b64d74 {
    background: transparent!important;
}
.attachedBars_da3c74 {
    background: transparent!important;
}




/*SETTINGS*/
.sidebarRegionScroller__1fa7e {
    background: transparent;
}
.layer__2efaa {
    background: transparent;
}
.standardSidebarView__1129a{
    background: transparent;
}

.contentRegion__0bec1, .contentRegionScroller__86c79{
    border-top-left-radius: 8px!important;
}
.contentRegion__0bec1 {background: transparent;}
.theme-dark .contentRegionScroller__86c79{
    background: rgba(0, 0, 0, 0.3);
}
.theme-light .contentRegionScroller__86c79{
    background: rgba(255, 255, 255, 0.3);
}

.theme-light .themed_b957e8.item__48dda, .theme-light .brand_ce3ecf.item__48dda {
    color: black;
}
.theme-light .header_f72511 {
     color: rgba(0, 0, 0, var(--var-opacity-titlebar)); 
}

.cardPrimary_cb7a0e {
    border-color: transparent;
}



.animatedContainer__341f6 {
    z-index: 3;}
.hasBanner_e78601 .animatedContainer__341f6 {
    opacity: 100%!important;
}


.wrapper_bd2abe ~ .content__1a4fe:before {
  display: none;
}
.wrapper_bd2abe ~ .content__1a4fe .scroller__1f96e {
    border-top-right-radius: 8px ;
}

.content__4bf10:has(.wrapper_bd2abe) .searchBar_e4ea2a {
    border-top-right-radius: 8px ;
}

.wrapper_fbbb73 {
    
    background: rgba(255,255,255,0.9);
}



.theme-dark .message__80c10 .scrollableContainer__33e06.themedBackground__6b1b6.webkit__8d35a {
    background: rgba(0,0,0, var(--var-opacity-bottom-input))!important;
}
.theme-light .message__80c10 .scrollableContainer__33e06.themedBackground__6b1b6.webkit__8d35a {
    background: rgba(255,255,255, var(--var-opacity-bottom-input))!important;
}


.theme-dark .embedFull__8dc21, .theme-dark .reaction_fef95b, .theme-dark .markup_a7e664 code {
    background: rgba(0, 0, 0, 0.2);
}
.theme-light .embedFull__8dc21, .theme-light .reaction_fef95b, .theme-light .markup_a7e664 code {
    background: rgba(255, 255, 255, 0.6);
}

section.panels__58331 {
box-shadow: 0 -1px 0 hsl(var(--primary-860-hsl) / 0.1), 0 -1.5px 0 hsl(var(--primary-900-hsl) / 0.025), 0 -2px 0 hsl(var(--primary-860-hsl) / 0.025);
}

nav.container__590e2 {
    border-bottom-left-radius: 8px;
}


@media only screen and (max-width: 638px)  {

.theme-dark nav.container__590e2 {
background: transparent!important;}
.theme-light nav.container__590e2 {
background: transparent!important;}
.theme-light .header__104ca {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar))!important;}
.theme-dark .header__104ca {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar))!important;}

.theme-light .scroller_f0f183{
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar))!important;
}



.theme-light .sidebar_ded4b5:hover nav.container__590e2 {
background: transparent!important;}
.theme-light .sidebar_ded4b5:hover .scroller_f0f183 {
background: rgba(255, 255, 255, var(--var-opacity-left-sidebar))!important;}


}






