/**
 * @name Acrylic Popups
 * @author skyli
 * @description Transparent popups and menus everywhere with customizable blur, opacity and radius.
 * @version 1.0
 * @donate https://www.buymeacoffee.com/skyli
 * @source https://github.com/s-k-y-l-i/discord-themes
 */

@import url('https://s-k-y-l-i.github.io/discord-themes/Theme%20code/transparent-popups.css');

/* Config */
:root{
    --blur: 20px;   /*Popup blur size*/
    --opacity: 0.5; /*Popup background opacity*/  
    --radius: 8px;  /*Popup border radius*/
}
