/**
 * @name Acrylic Harmony
 * @author s-k-y-l-i
 * @description Fully transparent acrylic Discord theme. Works with colors and highly customizable.
 * @version 0.9.1
 * @donate https://www.buymeacoffee.com/skyli
 * @source https://github.com/s-k-y-l-i/discord-themes
 */

@import url('https://raw.githubusercontent.com/s-k-y-l-i/discord-themes/main/Theme%20code/transparency.css');


/* Config */
:root{
    --var-opacity-option: 0.2;    /*   Acrylic opacity from 0 to 1    */
    --var-color-saturation: 1.5; /* 0 to 999 where 1 is the default  */
    --var-contrast: 1.4;          /*     Increase for darker blacks   */

    --var-opacity-titlebar: 0.2;
    --var-opacity-left-sidebar: 0.2;
    --var-opacity-bottom-input: 0.2; /* Change the transparency of different elements */
    --var-opacity-right-sidebar: 0.2;
    --var-opacity-inner-messages: 0.3;

    /* 
    For example: 
    0.1 --var-opacity-option with 99 --var-color-saturation
    0.4 --var-opacity-option with 2.8 --var-color-saturation
    0.6 --var-opacity-option with 1.8 --var-color-saturation        */
}


