.theme-light {
    --text-link: var(--brand-560);
}
.theme-dark {
    --text-link: var(--brand-430);
}





/*----------------------------------*/


@font-face {
    font-family: "Twemoji Mozilla";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
        format("truetype");
    unicode-range: U+1F1E6-1F1FF;
}
@font-face {
    font-family: "dashless";
    size-adjust: 100%; /*adjust this to change word spacing*/
    src: url("https://vendicated.github.io/random-files/Dashless.woff2")
        format("woff2");
    unicode-range: U+002D;
}
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_], /* inbox */
[class^=quickswitcher_] [class^=name_] /* ctrl+k */ {
    font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}
[class^="emptyChannelIcon_"] ~ [class*="description_"] > * {
    font-family: var(--font-primary);
}

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }


/*===================================================================*/

.highlight {
    background: color-mix(in srgb, var(--brand-300) 50%, transparent);
}

.mouse-mode.full-motion .message_ccca67:hover {
    background: none!important;
}

.button_d4bf9b:hover {
    background: transparent;
}


.menu__088f7, .scroller__8f066, .colorDefault_e361cf.focused_dcafb9,
.modeSelected__473f1 .link_ddbb36:before,
.wrapper__612a5:hover .link_ddbb36 {
    border-radius: 8px!important;
}

.menu__088f7 div#message-tts {
    display: none;
}

.separator__174fc, .divider__622af {
    visibility: hidden;
}

.mainCard__0ec2c .input_f27786 {background: none;}






.button_ae40a4:hover path, .button__581d0:hover path{
    fill: var(--interactive-hover)!important;
}
button.button_ae40a4.enabled__214db:hover, 
span.button_ae40a4.enabled__214db:hover {
    background: transparent;
}
.withTagAsButton_e22174:hover, .withTagless__058f8:hover {
    color: var(--interactive-hover);
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.listRow__50619:hover {
        background: var(--bg-overlay-hover,var(--background-modifier-hover));
}


.box_dd6d91 {
    background: var(--bg-overlay-3, var(--background-secondary));}
.box_dd6d91:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    height:10px;
    width: 20px;
    position: absolute;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}


.key__6a8d9 {
    background: var(--bg-overlay-6, var(--background-accent));;
}


.headerChildren_e6a96f {
        display: none !important;
}  /* I want to remove this fro here, but needs fixing for long server names */


.theme-dark .container_b92032 {
    background: var(--bg-overlay-home,var(--home-background));
}
.theme-light .container_b92032 {
    background: var(--bg-overlay-1,var(--home-background));
}

.matchingPostsRow__6cdb0 {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.container_f41675.clickable__1383f.hasBanner__04337.bannerVisible_ef30fe {
    z-index: 3;
}
.animatedContainer__0e828 {
    z-index: 4;
}
header.header__77c95 {
    z-index: 5;
}

.hasBanner__04337 .header__77c95 {
    background: none!important;
}


.bannerVisible_ef30fe > .header__77c95{
    box-shadow: none!important;
}

.divider_d1051b{
    visibility: hidden;
}

.theme-dark .themed_b152d4, .theme-light .themed_b152d4 {
    background: var(--bg-overlay-chat,var(--background-primary));
}

.children_cde9af:after {
    display: none;
}




.checked__36fdc {
    background-color: var(--accent)!important;

}

.checked__36fdc path{
    fill: var(--accent)!important;
}


.shopForAllBackgroundImage__009d9 {
    display: none;
}

.customizationSection__0f57e {
    border-bottom: none;
}

.contentRegion__08eba .divider__14bb6 {
    border-top: none;
}

.sidebarRegion__36437 .separator_d14fb1 {
    background: none;
}






.resizeHandle_cc9d34 {
    background: transparent;
}

.theme-light .winButton_f17fb6,
.theme-light winButtonClose__6396d {
    color: rgba(0, 0, 0, 0.5);
}
.theme-dark .winButton_f17fb6,
.theme-light winButtonClose__6396d {
    color: rgba(255, 255, 255, 0.5);
}
.theme-light .winButtonMinMax_caf9c8:hover,
.theme-light winButtonClose__6396d winButton_f17fb6:hover {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .winButtonMinMax_caf9c8:hover,
.theme-dark winButtonClose__6396d winButton_f17fb6:hover {
    color: rgba(255, 255, 255, 0.8);
}

button.sortDropdown__40a16.button__581d0.lookFilled__950dd.sizeMin__508da.grow__4c8a4,
.sortDropdown__40a16,
button.tagsButton__34537.button__581d0.lookFilled__950dd.sizeMin__508da.grow__4c8a4 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.button__581d0 .contents__322f4.buttonInner__865de,
.addReactButton__4342f {
    background: var(--bg-overlay-3, var(--background-secondary));
}

h3.defaultColor__30336.text-sm-normal__95a78.defaultColor__8610e {
    display: none;
}

.content__01e65:before,
.searchBar__621ec,
.header__77c95,
.chat__1d65d:before {
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.05),
        0 1.5px 0 rgba(0, 0, 0, 0.025),
        0 2px 0 rgba(0, 0, 0, 0.025) !important;
}

:root {
    --responsive: 1;
}

.container_debb33:before {
    display: none;
}
.voiceChannelsIcon__2516e {
    display: none;
}
.container__7e23c .progressBarContainer_e11b41.bar_ef682d {
    display: none;
}

.voiceChannelsButton_fd0b98 {
    border: 0;
}

.text-xs-semibold__767f1.barText__32a63 {
    display: none;
}
.bottom__53f5a {
    margin-bottom: -5px;
}

.searchBarComponent__8f95f,
:not(.open_d3ab4e) > .searchBar__5a20a {
    background: transparent !important;
}

.compactButton__00b66,
.compactButtonDisabled_c3934d {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.role_d81130 {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.badgeList__76720 {
    background: none !important;
}

.messageInputContainer_a93946 {
    border: 0;
}

.profilePanel_e2cafe .userPanelOuter_eb00b1,
.upload_c98ecb {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
.profilePanel_e2cafe .userPanelInner_f9edb8 {
    background: transparent !important;
}

.profilePanel_e2cafe .userProfileInner__61cc1:before {
    background-color: transparent;
}

.userProfileInnerThemedNonPremium_ed9022 {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.profileBadges__1f2ab {
    background: transparent;
}
.spine__88e6d path {
    fill: var(--channel-icon);
}
.spineBorder__52981 {
    background-color: var(--channel-icon);
}

.sendIcon_f67abd path {
    fill: var(--interactive-normal);
}
.button__437ce:hover .sendIcon_f67abd path {
    fill: var(--accent);
}

.channelTextAreaDisabled_d0f0e8 .placeholder_dec8c7 {
    color: var(--text-muted);
}

.channelTextArea_c2094b.channelTextAreaDisabled_d0f0e8,
.channelTextAreaDisabled_d0f0e8 .themedBackground__3a4c0 {
    background: transparent !important;
}

.dismissWrapper_acbb9a {
    opacity: 60%;
}

.profileCustomizationSection_c4a87a .input_f27786,
.lookFilled__9c1ef.select_fe2671,
.popout_a6e77f {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
    border: 0;
}

.focused_d14fa7 {
    background: var(--bg-overlay-4, var(--background-secondary));
}

.base__06abc {
    height: 24px;
    background: var(--bg-overlay-3, var(--background-secondary));

    margin-left: -1px;
    margin-bottom: 7px;
    border-radius: 6px;
    padding-right: 10px;
    max-width: fit-content;
}

.messageGroupWrapper__1fce2 {
    border: 0;
}

.stickerInspected__29120 .inspectedIndicator__0c5e3 {
    background: var(--bg-overlay-4);
}
.stickerCategoryGenericSelected_b553f9,
.stickerCategoryGenericSelected_b553f9:hover {
    background: var(--bg-overlay-4);
}

.guildIcon_ed1ab4 {
    background: transparent;
}

.lookFilled__950dd.colorPrimary_ebe632 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.newChannel__1bbcf {
    background-color: var(--brand-experiment) !important;
    color: var(--white-500);
}

.wrapperAudio__178e9,
.textContainer__65f57,
.newMosaicStyle_ed53d8 .footer__90194,
.container_eb737e,
.container_cdf5a8 {
    border: 0;
    background: var(--bg-overlay-3, var(--background-secondary));
}

.jumpButton__6c38c,
.jumpButton__309d6,
.jump_d5b765,
.spoilerMarkdownContent__5c448,
.total_c01838,
.blockquoteDivider__5cbad {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.total_c01838:after {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    border: 0;
    left: -8px;
    width: 8px;
    height: 21px;
}

.guildIcon__6a5d6,
.guildIconImage_c1aa48,
.guildIcon__85266 {
    background-color: transparent !important;
}

.connectContainer_e331e3, .connectionHeader__2b82f {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.connection__6dbd8 {
    background: var(--bg-overlay-2, var(--background-secondary));
}
.sessionIcon_df2e9c {
    background: var(--bg-overlay-6, var(--interactive-normal));
}

.friendRequestsButton__77e10, .emojiPicker__5e2e2,
.secondary__45d4f {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.container__03ec9,
.wrapper__8a5dd,
.iconWrapper_a8f659,
.iconWrapper__8795c {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/*.iconWrapper_a8f659,
.iconWrapper__8795c {
    background: var(--bg-overlay-4, var(--background-accent));
}*/

.prompt__1b100,
.prompt__671aa,
.channelRow__538ef,
.users__65981,
.chatHeaderBar_b11c70,
.moreUsers__61edd {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

.optionButtonWrapper_c86844.selected__31118,
.container__33507 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-color: var(--background-tertiary);
}

.reaction__4a43f,
.navButtons__60fcf,
.footer_e0b400 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.wrapper_e832ee
    button.button_ae40a4.enabled__214db.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.grow__4c8a4.button_ae40a4 {
    width: 26px;
}

#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 7px;
    margin-left: -17px;
    margin-top: 2px;
    content: "";
    /* Spotify wave thingy fix */
    /*background-color: hsla(var(--spotify-vencord-text)/1);*/
    position: absolute;
}



#vc-spotify-song-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/* */

/* */
#vc-spotify-player {
    height: 50px;
    background: transparent !important;
    position: relative;
    transition: height 0.1s ease;
    padding: 7px !important;
    padding-top: 8px !important;
}

#vc-spotify-player:hover {
    height: 115px;
}

#vc-spotify-progress-bar {
    margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
    height: 100%;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
    margin-left: 15px;
}

#vc-spotify-player #vc-spotify-titles .size14_b2af01 {
    font-size: 13px;
}
.theme-dark #vc-spotify-song-title::before,
.theme-dark #vc-spotify-song-title + div::before,
.theme-dark #vc-spotify-song-title + div + div::before {
    background-color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light #vc-spotify-song-title::before,
.theme-light #vc-spotify-song-title + div::before,
.theme-light #vc-spotify-song-title + div + div::before {
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.theme-light #vc-spotify-player .colorStandard__3d599 {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark #vc-spotify-player .colorStandard__3d599 {
    color: rgba(255, 255, 255, 0.8);
}

.theme-dark .vc-spotify-artist, .theme-dark  .vc-spotify-album {
    color: rgba(255, 255, 255, 0.8);
}
.theme-light .vc-spotify-artist, .theme-light  .vc-spotify-album {
    color: rgba(0, 0, 0, 0.8);
}

#vc-spotify-player .barFill__1f56b {
    background-color: var(--interactive-active);
}
#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
    background-color: var(--interactive-active);
    border-color: var(--interactive-active);
    width: 12px !important;
    height: 12px !important;
    margin-top: 3px;
    opacity: 1 !important;
}
.vc-spotify-progress-time {
    top: 12px;
}
.vc-spotify-button {
    color: var(--interactive-active);
}
.vc-spotify-button:hover {
    background-color: color-mix(
        in srgb,
        var(--interactive-active),
        transparent 75%
    );
}
.vc-spotify-shuffle-on {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-context {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-track {
    color: var(--accent, (-green-360));
}
/* */

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    height: 206px;
}

#vc-spotify-progress-bar,
.vc-spotify-button-row {
    opacity: 0;
}

#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
    opacity: 1;
}

#vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    top: -90px;
    left: -11px;
    padding-top: 18px;
    margin-left: 0px !important;
    padding-right: 8px;
    width: 197px;
    padding-bottom: 38px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    backdrop-filter: blur(18px) brightness(85%);
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
#vc-spotify-album-expanded-wrapper
    ~ #vc-spotify-progress-bar
    .vc-spotify-progress-time {
    display: none;
}
#vc-spotify-album-expanded-wrapper {
    margin-left: -11px;
    margin-top: -1px;
}

#vc-spotify-album-expanded-wrapper ~ .vc-spotify-button-row {
    top: -136px;
    position: relative;
}

.content__76dcf {
    border-top-left-radius: 8px;
}

.theme-dark .container_debb33,
.theme-light .container_debb33 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.botTagOP_e48ddb {
    color: var(--white-500);
}

.wrapper__3ed10.avatar__7c789 {
    display: none;
}

.lineClamp1__6f680.text-md-semibold__8664f.name_e8e549.name_e8e549 {
    max-width: 201px;
    overflow: hidden;
    position: absolute;
}
.children_cde9af {
    margin-left: 12px;
}

.actions_bd37ed .actionButton__2b4bb:nth-child(1) {
    display: none;
}
.actions_bd37ed .actionButton__2b4bb:nth-child(2) {
    display: none;
}
.peopleListItem_dab480:hover .actionButton__2b4bb:nth-child(2) {
    display: flex;
}
.username__267df {
    overflow: visible;
}

.separator_fc3370 {
    display: none;
}
.wrapper__3c6d5 {
    border: 0;
}

.animatedContainer__0e828 {
    border-top-left-radius: 8px;
}

.container__9922f {
    border: 0;
}
.bar_e58961,
.container__9922f {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
#vc-spotify-player ~ .container_debb33 {
    border-top-left-radius: 8px;
    box-shadow: none;
}
.messagesWrapper_add28b {
    background: var(--bg-overlay-app-frame, var(--background-primary));
}
.scroller_e412fe,
.forumPost__76f0f,
.messages__1aaa1 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.sidebar_e031be,
.panels__58331 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.panels__58331 {
    border-top-right-radius: 8px;
}

.sidebar_e031be:has(#vc-spotify-player) .container__7e23c {
    /*border-bottom-left-radius: 8px;*/
    border-top-left-radius: 0;
}
#vc-spotify-player {
    border-top-right-radius: 8px;
}

.panels__58331:has(.container_e1958d),
.wrapper_e832ee {
    border-top-right-radius: 10px;
}

.searchBar__621ec {
    background: var(--bg-overlay-3, var(--background-secondary));
    border-top-left-radius: 8px;
}
.section__253ec,
.messageContainer_cb3d47 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

nav.container__7e23c {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}
.sidebar_e031be {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.container_f41675.clickable__1383f {
    background: var(--bg-overlay-chat, var(--background-primary));
    border-top-left-radius: 8px;
}
.scroller__1f498 {
    background: var(--bg-overlay-2, var(--background-secondary));
    border-bottom-left-radius: 8px;
}
.scroller__89969 {
    border-bottom-left-radius: 8px;
}
.privateChannels__9b518 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

#vc-spotify-album-image {
    border-radius: 8px;
}
header.header__77c95,
.focused__68b93 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/* buttons */
.tertiary_ad6d80,
.button_bfb8e1 {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

.button_ef08e7 {
    background: var(--bg-overlay-3, var(--background-tertiary));
}


.colorable__4f530.primaryDark_ec74a7 {
    background: var(--bg-overlay-3, var(--primary-630));
}
.colorable__4f530.primaryLight_be4e00 {
    background: var(--bg-overlay-1, var(--primary-860));
}

iframe.embedSpotify__13fe9.embedWrapper__47b23 {
    width: 100% !important;
    min-width: 224px;
    max-width: 400px;
}

.pill_f055c3 {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
    border: 0px;
}
.divider__4df9f {
    visibility: hidden;
}

.theme-dark,
.theme-light {
    --info-warning-foreground: var(--os-accent-color);
}


.theme-dark .mentioned_fa6fd2:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}
.mouse-mode.full-motion .message_ccca67.mentioned_fa6fd2:hover,  .message_ccca67.mentioned_fa6fd2:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

.mentioned_fa6fd2 {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

.theme-dark .mentioned_fa6fd2.selected_e3bc5d {
    background: color-mix(in srgb, var(--brand-600), transparent 75%)!important;
}
.theme-light .mentioned_fa6fd2.selected_e3bc5d{
    background: color-mix(in srgb, var(--brand-360), transparent 75%)!important;
}
.mentioned_fa6fd2 {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

/*fix better5folder border*/
.folderIconWrapper__11165 {
    border-radius: 10px;
}

.scroller__7c25e {
    border-left: 0;
}

.actionButtons__85e3c .lookFilled__950dd.colorPrimary_ebe632,
.wrapper__4e6b6 {
    background: var(--bg-overlay-5, var(--background-primary));
}
.navButtonActive__0c878 {
    background: var(--bg-overlay-5, var(--background-accent));
}

.theme-dark .scroller__1f498 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.scroller__8f066,
.resultsGroup_b221b0 {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.option__91497::after {
    display: none;
}

.popout__24e32 {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark .embedFull__14919 {
    border-left: 4px solid rgba(255, 255, 255, 0.03);
}
.theme-light .embedFull__14919 {
    border-left: 4px solid rgba(0, 0, 0, 0.03);
}

.fieldList__4e6dd, .wrapper__91b2c {
    background: transparent;
}

.container__17159,
.searchResultsWrap__2e184,
.embedFull__14919,
.contentWrapper_e0bb2c,
.emptyCard__204d9,
.footer__6b9ef,
.messagesPopoutWrap__10dd1,
.accountProfileCard__744d8,
.channelHeader_ea0f89,
.container_f93da8,
.sidebarRegionScroller__8113e,
.wrapper__3c6d5,
.header_e5d8b2 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.inspector__80c84,
.card__7865b {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.mainCard__0ec2c {
    background: var(--bg-overlay-3, var(--background-primary));
}

.container_de2a56 {
    border: 0px;
}

.container_de2a56:hover {
    background: var(--bg-overlay-4, var(--background-primary));
}

.container_de2a56.isOpen__8593d {
    background: var(--bg-overlay-selected, (--background-modifier-selected))!important;
}


code,
.searchHeader__4d70e,
.header__21b33,
.header__3b038,
.header__6d44a,
.wrapper__45980 {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
code {
    border: 0 !important;
}

.container_ec5ce2,
.wrapper__45980 {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

.overlayBackground__2666e:not(.userPopoutOverlayBackground_bf6444),
.messageGroupWrapper__1fce2,
.background__4e802,
.contentRegionScroller__9ae20,
.contentRegion__08eba {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.searchResult__00093 {
    background: var(--bg-overlay-4, var(--background-primary));
}

.root_a28985, .scrollTierBackground__89f3e {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.giftButton_ff61dc {
    display: none;
}
.container__68e43 {
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;
}

.modalHeader_b1624c {
    background: var(--bg-overlay-chat, var(--background-primary));
}
.activityItem__2bb92{
    background: var(--bg-overlay-2, var(--background-secondary));   
}

.picker__6dca7 {
    background: var(--bg-overlay-2, var(--background-floating));

}
.activityTag__1f89a{
    background: var(--bg-overlay-4, var(--background-tertiary));   
   
}
.container__694a1.floating__8f631 {
    background: var(--bg-overlay-2, var(--background-secondary));
}

.soundButton__845c7,.activityItem__2bb92:hover {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.sectionDivider__9dbcb,
.container_bc43c1:after {
    visibility: hidden;
}

.form_d8a4a1 {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee, .container_debb33):not(:empty) {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}

.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) {

    margin-left: 0px !important;
    border-top-right-radius: 11px;
}

.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee, .container_debb33):not(:empty) ~ div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee, .container_debb33):not(:empty),
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee, .container_debb33):not(:empty) > div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee, .container_debb33):not(:empty){
    box-shadow: none;
    border-top-right-radius: 0px;
}


/*.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div {
    margin-left: -6px;
}
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div ~ div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div{
}*/


div#vc-spotify-info-wrapper {
    margin-left: -4px;
}
div#vc-spotify-progress-bar {
    margin-left: -4px;
}

/*section.panels__58331{
    overflow: hidden;
}*/

::-webkit-scrollbar-track {
    visibility: hidden;
}


.message_ccca67
    .scrollableContainer_ff917f.themedBackground__3a4c0.webkit__8d35a {
    border-radius: 8px;
}

.bar__004d9 {
    background: none;
    box-shadow: none;
}

.platform-win .scroller_de945b,
.platform-osx .scroller_de945b {
    padding-top: 0px;
}

.guildSeparator__75928 {
    display: none;
}

.sidebar_e031be {
    background: transparent;
}

.container__7e23c:after {
    left: 4px !important;
}

.peopleListItem_dab480 {
    border-top: 0;
}

.clipContainer_ab9cf6 {
    padding-top: 0px;
    margin-top: 0px;
}

.wrapper__57349 {
    margin-bottom: 0px;
    padding-bottom: 17px;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-radius: 0;
}

.divider_d6f39c {
    background-color: transparent;
}
.mutualFriendsDivider__2c616 {
    border-top: 0;
}

form.form_d8a4a1 {
    bottom: -2px;
    top: 0px;
}

.theme-light .form_d8a4a1 {
    background: transparent !important;
    margin-top: 0px;
}
.theme-dark .form_d8a4a1 {
    background: transparent !important;
    margin-top: 0px;
}
.theme-light .header__77c95 {
    border-top-left-radius: 8px !important;
}
.theme-dark .header__77c95 {
    border-top-left-radius: 8px !important;
}
nav.container__7e23c {
    border-top-left-radius: 8px;
}
.theme-dark .header__77c95 {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.theme-dark .searchBar__621ec {
    border-top-left-radius: 8px !important;
}
.theme-light .searchBar__621ec {
    border-top-left-radius: 8px !important;
}

.theme-dark .wrapper_e832ee .container_e1958d,
.theme-light .wrapper_e832ee .container_e1958d {
    background: transparent;
}

.container_e1958d {
    border-bottom: 0px;
    padding-left: 4px;
}

.channelTextArea_c2094b {
    height: 100%;
}

.channelTextArea__648e5 {
    border-radius: 0px;
}

.theme-light .container_f79ab4,
.theme-light .member_b44d5d,
.theme-light .members__573eb {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

.theme-dark .container_f79ab4,
.theme-dark .member_b44d5d,
.theme-dark .members__573eb {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.theme-light span.username_d272d6 {
    color: #474747 !important;
}

.theme-light .membersGroup_cad095 span span {
    color: gray !important;
}

.children_cde9af .iconWrapper_de6cd1 {
    display: none;
}

.searchBar__5a20a {
    width: 22px;
}
.buttonContainer__14dd9 button:disabled {
    display: none;
}

.theme-light .unreadImportant_e8bb44,
.theme-light .item_f9d377 {
    background-color: rgba(0, 0, 0, 0.66);
}
.item_f9d377 {
    margin-left: -3px;
}

[class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 0;
    will-change: opacity;
}
[class*="messageListItem"]
    > [class*="message"]:hover
    [class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 1;
}

separator__666aa button[disabled] {
    display: none !important;
}
.separator__666aa::before {
    display: none !important;
}
.separator__666aa {
    margin-left: 0px;
}





.emptyChannelIcon_d45c50 {
    background: var(--bg-overlay-4, var(--background-accent)) !important;
}
.numberBadge__40d6f {
    --status-danger: var(--accent);
}

.panel_bd8c76.activityPanel_b73e7a {
    border-top-right-radius: 8px;
    background: transparent;
}

.scrollableContainer_ff917f.themedBackground__3a4c0.webkit__8d35a {
    /*margin-right: -12px;*/
    width: 100%;
}
.webkit__8d35a .buttons__7ecff {
    margin-right: 8px;
}

.activityPanel_b73e7a {
    border-bottom: 0px;
}


.sansAttachButton__5f863:after {
    top: -2px !important;
}

/*.container_debb33, .panel_bd8c76.activityPanel_b73e7a {
background: var(--bg-overlay-4,var(--background-tertiary))!important;

}*/

#vc-spotify-player {
    border-bottom: 0px;
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

.chat__52833 .title_d4ba1a:not(.forumOrHome__8b95a) .upperContainer__57565 .toolbar__62fb5 .iconWrapper_de6cd1:nth-child(2),   
/*[aria-label="Start Video Call"],
[aria-label="Videohívás indítása"]*/
.akaBadge__27cd4,
.chat__52833 .upperContainer__57565 .toolbar__62fb5 .iconWrapper_de6cd1:nth-child(5), 
/*[aria-label="Show User Profile (Unavailable)"], 
[aria-label="Felhasználói profil megjelenítése (Nem érhető el)"], */
.chat__52833 .toolbar__62fb5 .anchor_c8ddc0 {
    display: none !important;
}

@media only screen and (min-width: 639px) {
    .attachButton__5f6dc {
        margin-left: -7px;
        margin-right: 7px;
    }
}

@media only screen and (max-width: 418px) {
    .lineClamp1__6f680.text-md-semibold__8664f.name_e8e549.name_e8e549 {
        max-width: calc(100vw - 277px) !important;
    }

    /*szerver sáv*/
    .wrapper__9916c {
        width: 32px;
        height: 32px;
    }
    .svg__34dd4 {
        width: 32px;
        height: 33px;
    }
    .wrapper_b4903b {
        height: 32px;
    }

    .listItem__48528 {
        width: 50px;
    }

    .expandedFolderBackground_b1385f {
        left: 9px;

        width: 32px;
    }
    .guilds__2b93a {
        width: 50px;
    }

    .guildSeparator__75928 {
        margin-top: 3.5px;
    }

    
}

@media only screen and (max-width: 380px) {


    .font-size-16 .cozy_f5c119.hasThread__44ae4:after,
    .font-size-15 .cozy_f5c119.hasThread__44ae4:after,
    .font-size-14 .cozy_f5c119.hasThread__44ae4:after,
    .font-size-12 .cozy_f5c119.hasThread__44ae4:after {
        left: 0px;
        top: 3rem;
    }

    .lineClamp1__6f680.text-md-semibold__8664f.name_e8e549.name_e8e549 {
        max-width: calc(100vw - 189px) !important;
    }

    img.avatar__08316.clickable__09456, 
.toolbar__62fb5 .iconWrapper_de6cd1:nth-child(3),
/*[aria-label="Kitűzött üzenetek"], 
[aria-label="Pinned Messages"], */
/*.search__07df0,*/ .toolbar__62fb5 .anchor_c8ddc0, .attachButton__56f98, 
.buttonContainer__14dd9, [aria-label="Open Translate Modal"],
.timestamp_c79dd2,
.vc-platform-indicator,
 span.vc-smyn-suffix, .text-xs-semibold__767f1.barText__32a63,.akaBadge__27cd4,
 .avatarDecoration__8a0c2 {
        display: none !important;
    }

    .a11y-font-scaled-down .cozy_f5c119.wrapper_a62503,
    .a11y-font-scaled-down .cozy_f5c119.wrapper_a62503 .header__6a14d {
        padding-left: 42px;
    }
    .cozy_f5c119.wrapper_a62503 {
        margin-top: 0px;
    }
    .searchBarComponent__8f95f {
        position: relative;
        overflow: hidden;
    }
    .message_ccca67 {
        padding-right: 4px !important;
        padding-left: 18px !important;
    }
    .groupStart__7b93c {
        margin-top: 12px !important;
    }

    .searchBarComponent__8f95f::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }

    .searchBarComponent__8f95f::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

}

@media only screen and (max-width: 337px) {

    .sidebar_e031be:not(:hover) .connection__38593 a .subtext_ce73b4 {
    margin-left: -6px!important;
    }

    .form_d8a4a1 .buttons__7ecff, .recentsIcon_a585d7 {
        display: none;
    }

    .lineClamp1__6f680.text-md-semibold__8664f.name_e8e549.name_e8e549 {
        max-width: calc(100vw - 137px) !important;
    }

    :has(.sidebar_e031be:not(:hover)) .guilds__2b93a, .guilds__2b93a:not(:hover) {
        display: none;
    }

    .sidebar_e031be:not(:hover) #vc-spotify-player {
        padding-left: 8px !important;
    }

    #vc-spotify-progress-bar > [class^="slider"] {
        padding-left: 1px !important;
    }
}

@media only screen and (max-width: 780px) {
    .container__43554 span:not(.headerText__88997) {
        max-width: 59px !important;
        overflow: hidden;
        display: inline-block;
        white-space: normal;
    }

    h3.membersGroup_cad095.container__43554 {
        padding-left: 1px !important;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .container_f79ab4 {
        width: 60px;
    }
    .membersWrap__5ca6b {
        min-width: fit-content;
    }
}

.sidebar_e031be .subtext_ce73b4 {
        width: 149px;
}


/* Médialekérdezések 638 pixel szélesség alatt */
@media only screen and (max-width: 638px) {

    .headerChildren_e6a96f {
        display: none !important;
    }

    .caret__33d19, .title__84e16 {
    display: none;
    }

    .container_f41675.clickable__1383f{
        z-index: 91!important;
    }

    .sidebar_e031be:not(:hover) .bannerVisible_ef30fe > .header__77c95{
        box-shadow:
            0 1px 0 rgba(0, 0, 0, 0.05),
            0 1.5px 0 rgba(0, 0, 0, 0.025),
            0 2px 0 rgba(0, 0, 0, 0.025) !important;    
    }

    .sidebar_e031be:not(:hover) .headerContent__6fcc7 {
    color: var(--header-primary)!important;
    filter:none!important;
    }
    .title_d4ba1a {
      z-index: 90;
    }
    header.header__77c95 {
        z-index: 91;
    }

    .sidebar_e031be:not(:hover) #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        margin-left: 5px!important;
        padding-left: 2px!important;
        padding-right: 3px!important;
        padding-bottom: 10px!important;
        padding-top: 0px!important;
    }

    .animatedContainer__0e828 {
        visibility: hidden;
    }

    .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413:nth-child(
            2
        ),
    .sidebar_e031be:not(:hover) .labelWrapper__51637 {
        visibility: hidden;
    }

    .sidebar_e031be:not(:hover) .inner_ab95dc {
        z-index: 98;
        overflow: visible;
    }
    .sidebar_e031be:not(:hover) .rtcConnectionStatus_e749c4{
        overflow: visible;
        margin-left: 7px;
    }
    .sidebar_e031be:not(:hover) .connection__38593 .subtext_ce73b4 {
        margin-left: -8px!important;
    }


    .sidebar_e031be:not(:hover) .actionButtons__85e3c {
        display: none;
    }


    .sidebar_e031be:not(:hover) .subtext_ce73b4 {
        overflow: hidden;
        margin-left: -2px;
        width: 44px;
    }

    .lineClamp1__6f680.text-md-semibold__8664f.name_e8e549.name_e8e549 {
        max-width: calc(100vw - 299px);
    }

    .theme-dark .scroller__1f498,
    .theme-light .scroller__1f498 {
        background: var(--bg-overlay-chat, var(--background-primary));
    }

    .withTagAsButton_e22174 {
        min-width: 40px;
    }

    .sidebar_e031be {
        overflow: visible!important;
    }
    .topic__16ae3 {
        display: none;
    }
    .name_e8e549 {
        overflow: visible;
    }

    h1.defaultColor__30336.heading-md-semibold__76ba1.defaultColor__8610e.cursorPointer__3707a.title__84e16 {
        display: block !important;
    }

    .actions_d57dc4 {
        visibility: hidden;
    }

    .vc-spotify-time-right.modeDefault__2e882,
    .vc-spotify-titles,
    .vc-spotify-button-row {
        display: none !important;
    }

    #vc-spotify-titles {
        visibility: hidden;
    }
    
    .searchBarComponent__8f95f::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }
    button.attachButton__56f98.attachButton__5f6dc.button__581d0 {
        margin-left: 1px;
        padding-right: 15px;
    }

    .message_ccca67.cozyMessage__9f4fd {
        padding-right: 10px !important;
    }
    img.avatar__08316.clickable__09456 {
        margin-left: -4px;
    }
    .container__62863 {
        margin-left: -7px;
    }

    .searchBarComponent__8f95f::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

    .sidebar_e031be {
        width: 50px !important;
        transition: width 0.1s ease;
    }

    .nameTag__77ab2.canCopy__8ec33 {
        visibility: hidden;
    }

    h2.privateChannelsHeaderContainer_b22dc9.container__43554,
    .toolbar__62fb5 .anchor_c8ddc0,
    .text-xs-semibold__767f1.barText__32a63 {
        display: none;
    }

    .bar__004d9 {
        padding: 2px 2px;
    }

    .sidebar_e031be > :not(.privateChannels__9b518) .content__690c5 {
        visibility: hidden;
    }

    .layout__59abc {
        padding: 0;
    }
    .link__3a950 {
        overflow: visible;
    }
    .sidebar_e031be:not(:hover)
        #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        height: 50px;
    }

    #vc-spotify-player {
        margin-bottom: -13px;
    }
    #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-left: -7px;
        margin-bottom: 10px;
    }

    .sidebar_e031be:hover #vc-spotify-player {
        margin-bottom: 0px;
    }
    .sidebar_e031be:hover #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-bottom: 0px;
    }

    .sidebar_e031be:hover,
    .sidebar_e031be *:hover .sidebar_e031be {
        width: 220px !important;
        transition: width 0.1s ease;
    }

    .sidebar_e031be:hover .content__690c5,
    .sidebar_e031be:hover .avatarWrapper__500a6,
    .sidebar_e031be:hover #vc-spotify-titles,
    .sidebar_e031be:hover .nameTag__77ab2.canCopy__8ec33,
    .sidebar_e031be:hover
        .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
        visibility: visible !important;
    }
    .sidebar_e031be:hover + .chat__52833,
    .sidebar_e031be:hover + .chat__52833 .content__01e65:before {
        margin-left: 0px !important;
    }

    .sidebar_e031be:hover .animatedContainer__0e828 {
        visibility: visible;
    }

    .sidebar_e031be:hover .vc-spotify-button-row {
        display: flex !important;
    }
    .sidebar_e031be:hover .withTagAsButton_e22174 {
        min-width: 120px;
    }

    .sidebar_e031be:hover .actions_d57dc4 {
        visibility: visible !important;
    }
    .theme-light .sidebar_e031be:hover .scroller__1f498 {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark .sidebar_e031be:hover .scroller__1f498 {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light .sidebar_e031be:hover,
    .theme-dark .sidebar_e031be:hover {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
    }






}
.theme-dark :not(.bannerVisible_ef30fe) > .header__77c95,
.theme-light :not(.bannerVisible_ef30fe) > .header__77c95 {
    background: var(--bg-overlay-chat, var(--background-primary));
}

.panels__58331
    .flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413 {
    margin-left: -16px;
}

.jumpToPresentBar__69174,
.mention_dd733a {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
.botTagRegular_c89c9a {
    background: var(--bg-overlay-app-frame, var(--accent));
}

.newMessagesBar__8b272 {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
.theme-light .wrapper__53064.interactive:not([style]),
.theme-light .wrapper__53064:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .wrapper__53064.interactive:not([style]),
.theme-dark .wrapper__53064:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(255, 255, 255, 0.8);
}

:root {
    --brand-430: color-mix(in hsl, var(--accent) 90%, white);
    --brand-300: color-mix(in hsl, var(--accent) 50%, white);
    --brand-360: color-mix(in hsl, var(--accent) 60%, white);
    --brand-500: var(--accent);
    --brand-560: color-mix(in hsl, var(--accent) 90%, black);
    --brand-600: color-mix(in hsl, var(--accent) 80%, black);

}

.vc-addon-card {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

.input_f27786 {
    background: var(--bg-overlay-3, var(--input-background));
}

.itemFilled__5a849 {
    background: var(--bg-overlay-3,var(--background-secondary));
}

.itemFilled__5a849[aria-checked=true] {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}
.itemFilled__5a849:hover:not([aria-checked=true]):not(.disabled_e23f76) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}



.option_eb83e4:focus, .option_eb83e4:hover, .option_eb83e4.focused_d14fa7 {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
.itemFilled__5a849:active:not([aria-checked=true]):not(.disabled_e23f76) {
    background: var(--bg-overlay-4, var(--background-modifier-active));
}


.topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda, .side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}



.topPill__63ad4 .themed_b957e8.item__48dda:hover:not(.disabled__2717e), .side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__2717e) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
.topPill__63ad4 .themed_b957e8.item__48dda:active:not(.disabled__2717e), .side_b4b3f6 .themed_b957e8.item__48dda:active:not(.disabled__2717e) {
    background: var(--bg-overlay-4, var(--background-modifier-active));}




.linkTop_c8969d .iconContainer__6a580 .icon__67ab4 {
    opacity: 60% !important;
}

.sidebar_e031be {
    width: 220px;
}
.form_d8a4a1 {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}
.sansAttachButton__5f863 {
    padding-top: 4px;
    padding-bottom: 5px;
}

.channelTextArea_c2094b {
    margin-bottom: 0px;
}
.scrollableContainer_ff917f {
    border-radius: 0px;
}

.base__06abc {
    bottom: 53px;
    height: 18px;
}
.base__06abc .cooldownWrapper__193b2 {
    margin-right: 0;
    background: var(--bg-overlay-2, var(--background-tertiary));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 3px;
    line-height: 17px;
}
.fontSize15Padding__412d1 {
    padding-bottom: 12px;
    padding-top: 11px;
}

/*[aria-label="GIF válogató megnyitása"]{display:none;}
[aria-label="Open GIF picker"]{display:none;}
[aria-label="Matricaválogató megnyitása"]{display:none;}
[aria-label="Open sticker picker"]{display:none;}*/

/*Nukes the discord branding*/
[class^="wordmarkWindows"],
[class^="typeWindows-"]:not([class*="withBackgroundOverride"]),
#app-mount:has([class^="pageWrapper"]) > [class^="typeWindows"] {
    display: none;
}

/* "GIF" text in profile banner GONE*/

[class*="gifTag"] {
    display: none;
}

.buttons__7ecff > button
/* Hide Nitro gift button */
/*button[aria-label="Send a gift"] */ {
    display: none;
}

div > [href="/store"], div > [href="/shop"]/* Nitro Button above DM List */ {
    display: none /*!important*/;
}

.divider__855e3 :not(#---new-messages-bar) {
    border-top: 0 !important;
}
.container_debb33 {
    height: 52px;
    padding-left: 3px;
}

.divider_bdb894 {
    display: none;
}

.customColumn__0b6a6,
.contentColumn__5f80b {
    min-width: 338px;
}
.contentRegionScroller__9ae20 .tools_c0ff70 {
    top: 36px;
    right: 0px;
    position: fixed;
}
.keybind_a619c1 {
    margin-top: -24px;
    margin-right: 76px;
}
.sidebar__02e8d {
    width: 176px;
}

#my-account-tab .bannerSVGWrapper__8a38c circle {
    display: none;
}
.avatar__6c108 {
    top: 46px;
    left: 22px;
}

#my-account-tab .bannerSVGWrapper__8a38c {
    min-width: 100px !important;
    min-height: 10px !important;
}

@media only screen and (max-width: 683px) {

    .buttons__7ecff .buttonContainer_ff1010 .stickerButton_c02bc0, 
    .buttons__7ecff .buttonContainer_ff1010 .button__437ce  {
        display: none;
    }

    .customColumn__0b6a6,
    .contentColumn__5f80b {
        padding: 60px 25px 80px;
    }
}

@media (max-width: 1200px) {
    .nowPlayingColumn_b025fe {
        display: block;
    }
}

@media (max-width: 1080px) {
    .topPill__63ad4 .item__48dda {
        margin: 0;
    }
}
@media (max-width: 1020px) {
    .nowPlayingColumn_b025fe {
        min-width: 296px;
    }
}
@media (max-width: 939px) {
    .nowPlayingColumn_b025fe {
        display: none;
    }
}
@media (max-width: 902px) {
    .tabBar__73938 .item_e4ca95:nth-child(4) {
        display: none;
    }
}
@media (max-width: 788px) {
    .tabBar__73938 .item_e4ca95:nth-child(3) {
        display: none;
    }
}
@media (max-width: 465px) {
    .tabBar__73938 .item_e4ca95:nth-child(5) {
        display: none;
    }
}
@media (max-width: 804px) {
.list__5ced9>div:first-child, .headerRow__86f2e {
    min-width: 0px!important;

}

.list__5ced9>div:first-child {
    padding-left: 8px;
    padding-right: 0px;
}
}


.channelTextArea_c2094b {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
.themedBackground__3a4c0 {
    background: var(--bg-overlay-3, var(--background-secondary));
    /*mask-image: linear-gradient(to right, 
    black, rgba(0, 0, 0, 0.5) 6%, rgba(0, 0, 0, 0.5) 60%, black 100%);*/
}

.guildIconV2Container_ddc448 div{
    display: none;
}

.nav.container__7e23c {
    border-top-left-radius: 0px !important;
}

.cozy_f5c119.hasThread__44ae4:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    border-bottom-left-radius: 10px;
    clip-path: polygon(
        0 0,
        2px 0,
        2px calc(100% - 10px),
        2.062px calc(100% - 9px),
        2.25px calc(100% - 8px),
        3.07px calc(100% - 6px),
        4.71px calc(100% - 4px),
        6.13px calc(100% - 3px),
        10px calc(100% - 2px),
        100% calc(100% - 2px),
        100% 100%,
        0 100%
    );
}
.repliedMessage__636d2:before {
    border-top-left-radius: 10px;
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 2px,
        10px 2px,
        6.13px 3px,
        4.71px 4px,
        3.07px 6px,
        2.25px 8px,
        2.062px 9px,
        2px 10px,
        2px 100%,
        0 100%
    );
}

.wrapper__6bf2d.minimum__7f356 {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
.content__76dcf:has(.wrapper__6bf2d) .searchBar__621ec {
    border-top-right-radius: 8px;
}

.progressBarContainer_e11b41.bar_ef682d.progressBarContainerComplete__13cd0 {
    display: none;
}
.bannerImg_fe5c1b {
    width: 220px;
}

.divider__855e3 {
    --divider-color: var(--brand-experiment);
}

.icon__467d5.iconSize__89aca {
    background: var(--brand-experiment) !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100% 100%; /* Állítsuk be az SVG méretét a teljes háttértérszínre */
    background-position: center; /* Középre igazítjuk a háttérképet */
    padding-right: 2px;
}

.userJoinSystemMessageIcon_ccc769 path {
    fill: var(
        --brand-experiment
    ) !important; 
}

.categoryItemDefaultCategorySelected__7d6e0,
.categoryItemDefaultCategorySelected__7d6e0:hover {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

.panels__58331 {
    margin-left: 4px !important;
}

.theme-dark .sidebar_e031be:hover .scroller__1f498 {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}

.theme-light .sidebar_e031be:hover .scroller__1f498 {
    background: var(--bg-overlay-2, var(--background-secondary)) !important;
}

.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0;
    width: 12px; 
    height: 12px;
    background: var(--bg-overlay-2, var(--background-secondary));
    opacity: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
}
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, 
.panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, 
#vc-spotify-player, .wrapper_e832ee):not(:empty)::before,
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, 
.panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) ~ div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, 
#vc-spotify-player, .wrapper_e832ee):not(:empty)::before{
    display: none;
}



.theme-light .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {

    background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {

    background: var(--bg-overlay-3, var(--background-secondary));
}




@media only screen and (max-width: 638px) {
    .theme-dark .scroller__1f498, 
    .theme-light .scroller__1f498 {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    /*Responsive forum section*/

    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .scroller__1f498 {
        background: var(--bg-overlay-home, var(--home-background))!important;
    }
    .theme-light .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .scroller__1f498 {
        background: var(--bg-overlay-1, var(--home-background))!important;
    }
    section.panels__58331 {
    position: relative;
    }

    .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .panels__58331:before{
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0;
        width: 12px; 
        height: 12px;
        opacity: 100%;
        z-index: 1;
        clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    )!important;
    display:inherit!important;
    }
    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .panels__58331:before{
        background: var(--bg-overlay-home, var(--home-background));
    }
    .theme-light .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .panels__58331:before{
        background: var(--bg-overlay-1, var(--home-background));
    }


    .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .container_debb33 {
        width: 32px;
        border-top-right-radius: 8px;
    }

    /*-----*/

    .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    .theme-light
        .privateChannels__9b518
        ~ .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        .privateChannels__9b518
        ~ .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light
        .sidebar_e031be:hover
        .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        .sidebar_e031be:hover
        .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }
}



.form_d8a4a1 .lookFilled__950dd.colorPrimary_ebe632 {
    background: var(--bg-overlay-6, var(--background-accent));
}






.search_ac353c:not(.open_d3ab4e) .iconLayout__9d9a4 {
  cursor: pointer!important;
}

.search_ac353c:not(.open_d3ab4e) .searchBar__5a20a {
  width: 22px;
  background-color: transparent;
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__9f124 {
  transform: scale(1.4);
}

.search_ac353c:not(.open_d3ab4e) .icon__5c8c7 {
  color: var(--interactive);
}

.search_ac353c:not(.open_d3ab4e):hover .icon__5c8c7 {
  color: var(--interactive-active);
}

.jumpToPresentBar__69174 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.botTagAI_f6af2f {
    background: var(--bg-overlay-6, var(--background-accent));
}
