/* MICA */
body,
#app-mount,
.typeWindows_e41dab,
.app_de4237,
.bg__12180,
.guilds__2b93a,
.scroller_de945b {
    background: transparent !important;
}

/* Darker transparency background*/

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: var(
        --var-opacity-option
    ); /* Átlátszóság beállítása (0-től 1-ig terjedő értékek) */
    z-index: -1; /* Az átlátszó háttér mögé helyezése */
    filter: saturate(var(--var-color-saturation)) contrast(var(--var-contrast));
}

.sidebar_e031be {
    background: transparent;
}

.container__694a1:not(.floating__8f631) {
    background: transparent;
}

.scroller__1f498 {
    border-bottom-left-radius: 8px;
}

.panels__58331,
.container_debb33 {
    margin-left: 0px !important;
}

.panels__58331 {
    margin-left: 4px !important;
}

.resizeHandle_cc9d34 {
    background: transparent;
}

.header__77c95,
.searchBar__621ec {
    border-bottom-left-radius: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    );
}
.panels__58331 {
    border-top-left-radius: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    );
}
.container__7e23c:after {
    left: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    ) !important;
}

.mentioned_fa6fd2 {
    border-radius: 5px;
}

.content__76dcf:has(.tabBody_a90ea8) .panels__58331,
.content__76dcf:has(.card__691f2) .panels__58331 {
    border-top-right-radius: 8px;
}

.container_b92032 {
    background: var(--var-opacity-left-sidebar);
}

.theme-light .mainCard__0ec2c {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar));
}
.theme-dark .mainCard__0ec2c {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar));
}

.sidebar_e031be,
.panels__58331 {
    background: transparent;
}

.searchBar__621ec {
    background: transparent;
    border-top-left-radius: 8px;
}
.content__76dcf,
.section__253ec,
.forumOrHome__8b95a .messageContainer_cb3d47 {
    background: transparent;
}

nav.container__7e23c {
    background: transparent !important;
}
.sidebar_e031be {
    background: transparent;
}

.container_f41675.clickable__1383f {
    background: transparent;
    border-top-left-radius: 8px;
}
.scroller__1f498 {
    background: transparent;
    border-bottom-left-radius: 8px;
}
.privateChannels__9b518 {
    background: transparent !important;
}

.theme-light .container__7e23c {
    background: transparent;
}

.theme-light .header__77c95 {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}
.theme-dark .container__7e23c {
    background: transparent !important;
}
.theme-dark .header__77c95 {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}

.theme-light .scroller__1f498,
.privateChannels__9b518 .scroller__89969 {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
}
.theme-dark .scroller__1f498 {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}

.panels__58331,
.container_debb33,
.panel_bd8c76.activityPanel_b73e7a {
    background: transparent !important;
}
.theme-light .panels__58331 {
    background: transparent !important;
}
.theme-dark .container_debb33 {
    background: transparent !important;
}

.chat__52833 {
    background: transparent;
}

.theme-light .themed_b152d4 /*TITLE*/ {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
}
.theme-dark .themed_b152d4 /*TITLE*/ {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
}





.chatContent_f087cb {
    background: transparent !important;
}

.theme-light .scroller_e412fe,
.theme-light .container_b92032 {
    background: rgba(
        255,
        255,
        255,
        var(--var-opacity-inner-messages)
    ) !important;
}
.theme-dark .scroller_e412fe,
.theme-dark .container_b92032 {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
}
.theme-light .channelTextArea_c2094b/*Üzenetírás*/ {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input)) !important;
}
.theme-dark .channelTextArea_c2094b/*Üzenetírás*/ {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input)) !important;
}
.channelTextArea_c2094b {
    background-color: transparent;
}
.themedBackground__3a4c0/*Üzenetírás*/ {
    background: transparent !important;
}

.theme-light .container_f79ab4 {
    background: rgba(
        255,
        255,
        255,
        var(--var-opacity-right-sidebar)
    ) !important;
}
.theme-dark .container_f79ab4 {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar)) !important;
}
.member_b44d5d {
    background: transparent !important;
}

.privateChannels__9b518 {
    background: transparent !important;
}
.theme-dark .scroller__89969 {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}
.theme-dark .searchBar__621ec {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}
.theme-light .searchBar__621ec {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}

.members__573eb {
    background: transparent;
}

.children_cde9af:after {
    display: none;
}

.form_d8a4a1:before {
    background: transparent !important;
}

.container_e1958d {
    background: transparent !important;
}

.form_d8a4a1 {
    margin-top: 0px;
}

.theme-light .form_d8a4a1 {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));
}
.theme-dark .form_d8a4a1 {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
}

.theme-dark .profilePanel_e2cafe {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar));
}
.theme-light .profilePanel_e2cafe {
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar));
}

.userPanelInnerThemed_c2aed9 {
    background: transparent;
}

.userProfileOuterUnthemed_e14365 {
    background: transparent;
}
.banner__6d414 {
    background-color: transparent !important;
}
.userPanelOuter_eb00b1 {
    --profile-gradient-overlay-color: transparent !important;
}
.theme-dark.overlayBackground__2666e {
    background-color: hsla(0, 0, 0, 0.45);
}
.theme-light.overlayBackground__2666e {
    background-color: hsla(255, 255, 255, 0.45);
}

/*HOME FUll screen right bar  ACTIVE NOW*/
.scroller__7c25e {
    border-left: 0px;
    margin-left: 0px;
}
.container__3673d {
    background: transparent;
}
.theme-dark .nowPlayingColumn_b025fe {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}
.theme-light .nowPlayingColumn_b025fe {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}
.theme-dark .peopleColumn__0c784 {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar));
}
.theme-light .peopleColumn__0c784 {
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar));
}
.tabBody_a90ea8 {
    background: transparent;
}
.theme-dark .actionButton__2b4bb {
    background-color: rgba(255, 255, 255, 0.05);
}

/*Search sidebar area*/
.theme-light .searchResultsWrap__2e184 {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input));
}
.theme-dark .searchResultsWrap__2e184 {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input));
}
.theme-light .searchHeader__4d70e {
    background: rgba(255, 255, 255, 0.15) !important;
}
.theme-dark .searchHeader__4d70e {
    background: rgba(0, 0, 0, 0.15) !important;
}

.theme-light .searchResult__00093 {
    background: rgba(255, 255, 255, 0.25);
}
.theme-dark .searchResult__00093 {
    background: rgba(0, 0, 0, 0.25);
}
.container_bd15da {
    background: transparent;
}

.wrapper__6bf2d.minimum__7f356 {
    background: transparent !important;
}

#vc-spotify-player {
    background: transparent !important;
}

.replyBar_ed6afc {
    background: transparent !important;
}
.attachedBars_c1606a {
    background: transparent !important;
}

/*SETTINGS*/
.sidebarRegionScroller__8113e {
    background: transparent;
}
.layer_f7d46a {
    background: transparent;
}
.standardSidebarView__12528 {
    background: transparent;
}

.contentRegion__08eba,
.contentRegionScroller__9ae20 {
    border-top-left-radius: 8px !important;
}
.contentRegion__08eba {
    background: transparent;
}
.theme-dark .contentRegionScroller__9ae20 {
    background: rgba(0, 0, 0, 0.3);
}
.theme-light .contentRegionScroller__9ae20 {
    background: rgba(255, 255, 255, 0.3);
}

.theme-light .themed_b957e8.item__48dda,
.theme-light .brand_ce3ecf.item__48dda {
    color: black;
}
.theme-light .header__71a82 {
    color: rgba(0, 0, 0, 0.6);
}

.cardPrimary_cb7a0e {
    border-color: transparent;
}

.animatedContainer__0e828 {
    z-index: 3;
}
.hasBanner__04337 .animatedContainer__0e828 {
    opacity: 100% !important;
}

.wrapper__6bf2d ~ .content__01e65:before {
    display: none;
}
.wrapper__6bf2d ~ .content__01e65 .scroller_e412fe {
    border-top-right-radius: 8px;
}

.content__76dcf:has(.wrapper__6bf2d) .searchBar__621ec {
    border-top-right-radius: 8px;
}

.theme-dark
    .message_ccca67
    .scrollableContainer_ff917f.themedBackground__3a4c0.webkit__8d35a {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input)) !important;
}
.theme-light
    .message_ccca67
    .scrollableContainer_ff917f.themedBackground__3a4c0.webkit__8d35a {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input)) !important;
}

.theme-light .embedFull__14919,
.theme-light .reaction__4a43f,
.theme-light .markup_a7e664 code {
    background: rgba(255, 255, 255, 0.25) !important;
}

nav.container__7e23c {
    border-bottom-left-radius: 8px;
}

@media only screen and (max-width: 638px) {

    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) 
    .sidebar_e031be:not(:hover) .scroller__1f498 {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }
    .theme-light .content__76dcf:has(.forumOrHome__8b95a) 
    .sidebar_e031be:not(:hover) .scroller__1f498 {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages)) !important;
    }

    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) 
    .sidebar_e031be:not(:hover) .panels__58331:before,
    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) 
    .sidebar_e031be:not(:hover) .panels__58331:before {
    display: none;
}
    .theme-dark .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages))!important;
}
    .theme-light .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages))!important;
}

    .theme-dark nav.container__7e23c {
        background: transparent !important;
    }
    .theme-light nav.container__7e23c {
        background: transparent !important;
    }
    .theme-light .header__77c95 {
        background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    }
    .theme-dark .header__77c95 {
        background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    }

    .theme-light .scroller__1f498 {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }

    .theme-light .sidebar_e031be:hover nav.container__7e23c {
        background: transparent !important;
    }
    .theme-light .sidebar_e031be:hover .scroller__1f498 {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }
}

/*fix the updated theme*/
.messagesWrapper_add28b {
    background: transparent;
}

.theme-dark .sidebar_e031be,
.theme-light .sidebar_e031be {
    background: transparent;
}

.theme-light .sidebar_e031be:hover,
.theme-dark .sidebar_e031be:hover {
    background: transparent !important;
}

.theme-dark .sidebar_e031be:hover .scroller__1f498 {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}

.theme-light .sidebar_e031be:hover .scroller__1f498 {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
}

.theme-dark .message_ccca67.selected_e3bc5d,
.theme-dark.mouse-mode.full-motion .message_ccca67:hover {
    background: rgba(0, 0, 0, 0.15);
}
.theme-light .message_ccca67.selected_e3bc5d,
.theme-light.mouse-mode.full-motion .message_ccca67:hover {
    background: rgba(255, 255, 255, 0.15);
}

.theme-dark .profilePanel_e2cafe .userPanelOuter_eb00b1,
.theme-light .profilePanel_e2cafe .userPanelOuter_eb00b1 {
    background: transparent !important;
}

.theme-dark .overlayBackground__2666e:not(.userPopoutOverlayBackground_bf6444) {
    background: rgba(0, 0, 0, 0.2) !important;
}

.theme-light
    .overlayBackground__2666e:not(.userPopoutOverlayBackground_bf6444) {
    background: rgba(255, 255, 255, 0.2) !important;
}

.panels__58331 > div:nth-child(2):has(div):before,
.panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
    opacity: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
}

.theme-dark .panels__58331 > div:nth-child(2):has(div):before,
.theme-dark .panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}
.theme-light .panels__58331 > div:nth-child(2):has(div):before,
.theme-light .panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}

@media only screen and (max-width: 638px) {

    .theme-dark .content__76dcf:has(.forumOrHome__8b95a) .sidebar_e031be:not(:hover) .panels__58331:before {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
    }

    .theme-dark .scroller__1f498 {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }
    .theme-light .scroller__1f498 {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-inner-messages)
        ) !important;
    }
    .theme-light .panels__58331 > div:nth-child(2):has(div):before,
    .theme-light .panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-inner-messages)
        ) !important;
    }
    .theme-dark .panels__58331 > div:nth-child(2):has(div):before,
    .theme-dark .panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }

    .theme-dark
        .privateChannels__9b518
        ~ .panels__58331
        > div:nth-child(2):has(div):before,
    .theme-dark
        .privateChannels__9b518
        ~ .panels__58331
        > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light
        .privateChannels__9b518
        ~ .panels__58331
        > div:nth-child(2):has(div):before,
    .theme-light
        .privateChannels__9b518
        ~ .panels__58331
        > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }

    .theme-dark
        .sidebar_e031be:hover
        .panels__58331
        > div:nth-child(2):has(div):before,
    .theme-dark
        .sidebar_e031be:hover
        .panels__58331
        > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light
        .sidebar_e031be:hover
        .panels__58331
        > div:nth-child(2):has(div):before,
    .theme-light .panels__58331 > .panel_bd8c76.activityPanel_b73e7a:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }
}

.wrapper__57349 {
    background: transparent;
}
::-webkit-scrollbar-track {
    visibility: hidden;
}

/*ADVANCED HALF TRANSPARENCY WITH COLOR*/

.markup_a7e664 code,
.textContainer__65f57,
.codeView_e4dd18,
.newMosaicStyle_ed53d8 .footer__90194,
.selected__37292,
.searchBar__621ec .searchBarComponent__8f95f,
:not(.open_d3ab4e) > .searchBar__5a20a,
.embedFull__14919,
.modeSelected__473f1 .link_ddbb36,
.modeSelected__473f1:hover .link_ddbb36,
.base_c0676e .reaction__4a43f,
.container__17159,
.users__65981 {
    background: transparent !important;
}

.codeContainer__49b46:before,
.textContainer__65f57:before,
.embedFull__14919:before,
.reactionInner_bd636d:before,
.container__17159:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: 0.35;
    z-index: -1;
}
.selected__37292:before,
.modeSelected__473f1 .link_ddbb36:before,
.modeSelected__473f1:hover .link_ddbb36:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-selected, var(--icon-muted));
    opacity: 0.35;
    z-index: -1;
    filter: saturate(var(--var-color-saturation));
}


.total_c01838:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.35;
    z-index: -1;
}


.users__65981:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.35;
    z-index: -1;
}

.modeSelected__473f1 .link_ddbb36:before,
.modeSelected__473f1:hover .link_ddbb36:before,
.codeContainer__49b46:before,
.selected__37292:before,
.embedFull__14919:before,
.container__17159:before {
    border-radius: 4px;
}

.embedFull__14919:before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.textContainer__65f57:before,
.reactionInner_bd636d:before {
    border-radius: 8px;
}

.container__17159 {
    position: inherit;
}
.users__65981 {
    position: relative;
}

.repliedMessage__636d2:before,
.cozy_f5c119.hasThread__44ae4:after {
    opacity: 0.5;
}

.voiceChannelsButton_fd0b98 {
    border: 0;
}

.container_debb33:before {
    display: none;
}

/*transparent text colors*/

.theme-light,
.theme-light [class^="placeholder"][class*="slateTextArea"] {
    --text-muted: rgba(0, 0, 0, 0.5);
    --channel-text-area-placeholder: rgba(0, 0, 0, 0.5);
}

.theme-dark,
.theme-dark [class^="placeholder"][class*="slateTextArea"] {
    --text-muted: rgba(255, 255, 255, 0.5);
    --channel-text-area-placeholder: rgba(255, 255, 255, 0.5);
}

.theme-light {
    --channel-icon: rgba(0, 0, 0, 0.5);
    --channels-default: rgba(0, 0, 0, 0.5);
    --header-secondary: rgba(0, 0, 0, 0.5);
    --primary-400: rgba(0, 0, 0, 0.5);
}
.theme-dark {
    --channel-icon: rgba(255, 255, 255, 0.5);
    --channels-default: rgba(255, 255, 255, 0.5);
    --header-secondary: rgba(255, 255, 255, 0.5);
    --primary-400: rgba(255, 255, 255, 0.5);
}

.content__7191e {
    backdrop-filter: blur(7px);
    background: transparent;
}

.theme-light .spriteGreyscale__750f4 {
    background-color: rgba(0, 0, 0, 0.5); /*50%*/
}
.theme-dark .spriteGreyscale__750f4 {
    background-color: rgba(255, 255, 255, 0.5); /*50%*/
}
.theme-light .button__437ce,
.theme-light .icon_ae0b42,
.theme-light .button_ae40a4 {
    color: rgba(0, 0, 0, 0.5); /*50%*/
}
.theme-dark .button__437ce,
.theme-dark .icon_ae0b42,
.theme-dark .button_ae40a4 {
    color: rgba(255, 255, 255, 0.5); /*50%*/
}

.theme-light .attachButtonPlus_fd0021,
.theme-light .content__76dcf .button__581d0 path {
    fill: rgba(0, 0, 0, 0.5);
}
.theme-dark .attachButtonPlus_fd0021,
.theme-dark .content__76dcf .button__581d0 path {
    fill: rgba(255, 255, 255, 0.5);
}

.theme-light .interactive__0786a.interactiveSelected__689f0 /*legerősebb*/ {
    color: rgba(0, 0, 0, 0.9);
}
.theme-dark .interactive__0786a.interactiveSelected__689f0 /*legerősebb*/ {
    color: rgba(255, 255, 255, 0.9);
}

.theme-light .interactive__0786a, 
.theme-light .themed_b957e8.item__48dda, 
.theme-light .brand_ce3ecf.item__48dda /*erős*/ {
    color: rgba(0, 0, 0, 0.7);
}
.theme-dark .interactive__0786a, 
.theme-dark .themed_b957e8.item__48dda, 
.theme-dark .brand_ce3ecf.item__48dda /*erős*/ {
    color: rgba(255, 255, 255, 0.7);
}

.theme-light .container__43554, .theme-light .privateChannelsHeaderContainer_b22dc9  {
    color: rgba(0, 0, 0, 0.5)!important;
}
.theme-dark .container__43554, .theme-dark .privateChannelsHeaderContainer_b22dc9 {
    color: rgba(255, 255, 255, 0.5)!important;
}
.theme-light .markup_a7e664 {
    /*full*/
    color: black;
}
.theme-dark .markup_a7e664 {
    color: white;
}

.theme-light .container__2ed72:not(.checked__36fdc) {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.theme-dark .container__2ed72:not(.checked__36fdc) {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

div#---new-messages-bar,
.divider__855e3 {
    border: 0 !important;
}

.theme-light span.username_d272d6 {
    color: rgba(0, 0, 0, 0.9) !important;
}
.theme-light .membersGroup_cad095 span span {
    color: rgba(0, 0, 0, 0.6) !important;
}
.chatContent_f087cb .botTagRegular_c89c9a {
    background: none;
}
.chatContent_f087cb .botTagRegular_c89c9a:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.7;
    z-index: -1;
    border-radius: 3px;
}
/* I have to fix this one ... somehow */
/*
.members__573eb .botTagRegular_c89c9a:before{
    content: "";
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
    opacity: 0.6; 
    z-index: -1; 
    border-radius: 3px;
} */

.chat__52833:not(:has(.callContainer__1477d)):has(.membersWrap__5ca6b) .form_d8a4a1,
.chat__52833:not(:has(.callContainer__1477d)):has(.membersWrap__5ca6b) .channelTextArea_c2094b {
    --var-a: calc(var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar));
    --abs-a: max(var(--var-a),-1*var(--var-a));
    border-top-right-radius: calc(10px - (var(--abs-a) * 9999px));
}

.chat__52833:not(:has(.callContainer__1477d)):has(.membersWrap__5ca6b) .channelTextArea__648e5:after {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0px; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
    opacity: 0;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));

    opacity: calc(1 - (9999 * var(--abs-a)));
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
    z-index: 9;
}
.theme-light .chat__52833:not(:has(.callContainer__1477d)):has(.membersWrap__5ca6b) .channelTextArea__648e5:after {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));

}

.theme-dark
    .content__01e65:has(.profilePanel_e2cafe)
    .channelTextArea__648e5:after {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
}
.theme-light
    .content__01e65:has(.profilePanel_e2cafe)
    .channelTextArea__648e5:after {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));
}

.content__01e65:has(.profilePanel_e2cafe) .channelTextArea__648e5:after {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0px; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    opacity: 0;
    opacity: calc(var(--responsive, 0) * 1 - (9999 * var(--abs-a)));
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
    z-index: 9;
}
.content__01e65:has(.profilePanel_e2cafe) .scrollableContainer_ff917f {
    overflow: visible;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    width: calc(100% - (6px / 999px * var(--abs-a))) !important;
    z-index: 9;

}
.content__01e65:has(.profilePanel_e2cafe) .form_d8a4a1 {
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    border-top-right-radius: calc(10px - (999px * var(--abs-a)));}


.content__01e65:has(.profilePanel_e2cafe) .channelTextArea_c2094b {
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    border-top-right-radius: calc(9px - (999px * var(--abs-a)));
}

.hasBanner__04337 .header__77c95 {
    background: none!important;
}

.container__68e43 {
    background: transparent;
}

.theme-dark .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}

.theme-dark .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) ~ div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) ::before {
    background: transparent;
}
.theme-light .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}

@media only screen and (max-width: 638px)
{
    .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages))!important;
    }

    .theme-dark .privateChannels__9b518 ~ .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light .privateChannels__9b518 ~ .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
    }

    .theme-dark .sidebar_e031be:hover .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before{
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }

    .theme-light .sidebar_e031be:hover .panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty)::before{
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
    }
}



.theme-dark .container_de2a56.isOpen__8593d {
    background: rgba(255, 255, 255, 0.05)!important;
    backdrop-filter: saturate(2);
}

.container__694a1.floating__8f631 {
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.4);
    border-left: none;
    box-shadow:
        -1px 0 0 rgba(0, 0, 0, 0.05),
        -1.5px 0 0 rgba(0, 0, 0, 0.025),
        -2px 0 0 rgba(0, 0, 0, 0.025) !important;    
}

.container__694a1.floating__8f631:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.3;
    z-index: -1;
    border-radius: 3px;
    filter: saturate(1.6);
}

.container__694a1.floating__8f631 .themed_b152d4, 
.container__694a1.floating__8f631 .scroller_e412fe,
.container__694a1.floating__8f631 .scroller_e412fe {
    background: none!important;
}

.theme-light {
    --interactive-hover: rgba(0,0,0,0.8)
}
.theme-dark {
        --interactive-hover: rgba(255,255,255,0.8)
}

.theme-dark .cursorDefault_e0f002 rect ~ rect,
.theme-dark [mask="url(#svg-mask-status-offline)"] {
    fill: rgba(255, 255, 255, 0.45);
}
.theme-light [aria-label$="Offline"] .cursorDefault_e0f002 mask ~ rect, 
.theme-light [mask="url(#svg-mask-status-offline)"] {
    fill: rgba(0, 0, 0, 0.45)
}

.theme-light .muted__418d1 {
    color: rgba(0, 0, 0, 0.25);
}

.theme-dark .muted__418d1 {
    color: rgba(0, 0, 0, 0.25);
}

.theme-light .matchingPostsRow__6cdb0 {
    background: rgba(0, 0, 0, 0.05);
}
.theme-dark .matchingPostsRow__6cdb0 {
    background: rgba(255, 255, 255, 0.05);
}
