/*Userprofile backgrounds hiding*/
.input_d266e7, .popoutNoBannerPremium_edf6d3,
:not(aside):not(.customizationSection__16fec)>.userProfileOuterThemed__6eb84, 
:not(aside):not(.customizationSection__16fec)>.userProfileOuterUnthemed__48723, 
:not(aside):not(.customizationSection__16fec)>div>.userProfileInnerThemedWithBanner_d5f991,
:not(aside):not(.customizationSection__16fec)>div>.userProfileInnerThemedPremiumWithoutBanner__703b1,
:not(aside):not(.customizationSection__16fec)>div>.userProfileInnerThemedNonPremium__3d0a6,
:not(aside):not(.customizationSection__16fec)>div>div>.overlayBackground__86b78 {
    background: none!important;
}
.userProfileInnerThemedNonPremium__3d0a6 .popoutBanner__9f5b9{
    opacity: 0;
}
/*frame*/
:not(aside):not(.customizationSection__16fec)>div>.userProfileInnerThemedWithBanner_d5f991:after,
:not(aside):not(.customizationSection__16fec)>div>.userProfileInnerThemedPremiumWithoutBanner__703b1::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 4px;
  border-radius: var(--radius);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/*remove background*/
.container_dbdb0b,.container_aab957, .popout__24e32, .footer_a3029c, .option_b5597b::after, 
.focused_f9cf2c, .badgeList_c193e3, .root_a28985, 
:not(aside):not(.customizationSection__16fec)>div>.userProfileInner__8065b:before, 
.wrapper__7a35f, 
.profileBadges__7a7cb, .footer__89240, .wrapper_c727b6,
.container_e4c233,.container__7712a,
.channelHeader__5d30c,.messageGroupWrapper_f8c6e9,
.messagesPopoutWrap_b3b384, 
.header_f5cc88, .container_d6dad3,.quickswitcher_a3d29a, 
.input__848cd, .scroller__52ae7, .menu_dc52c6, #popout_4842, 
.contentWrapper__321ed,  .wrapper_cd625e,
.scroller__750f5, .container__d6dad3, .resultsGroup_ea9b64,
.contentWrapper__321ed, .emojiPicker_b65ce9, .inspector__993e1, 
.header__55964, .modal__082b3, .rolePill_ee1aa1,  .previewContainer_bb1924,
.container__20de0,.container__2c498 
{
    background: none!important;
}

/*blur*/
.reactionTooltip__9384a,#sort-and-view, .container_ae7412, .popout__24e32, 
#user-profile-actions, .wrapper_c727b6 ,
.messagesPopoutWrap_b3b384,.contentWrapper__321ed, 
.quickswitcher_a3d29a,.picker__6dca7,
.autocomplete_df266d, .streamPreview__1846c  ,.container__03857,
.container__20de0, .container__23c08, .form_a88d78 ,
.focusLock__10aa5>.modal__6a96b    {
    background: transparent!important;
    backdrop-filter: blur(var(--blur));
    
}

/*blur before*/
#guild-header-popout::before,
.container_d6dad3::before, 
:not(aside):not(.customizationSection__16fec)>.userProfileOuterUnthemed__48723::after,
:not(aside):not(.customizationSection__16fec)>div>.userProfileInner__8065b:before, 
.modal__082b3::before,
.submenuPaddingContainer__12a9d::before, 
:not(.contentWrapper__321ed)>#emoji-picker-tab-panel::before,.container__03857::before,
#message::after, #guild-context::before, #channel-attach::after, #thread-context::after,
#image-context::after, #expression-picker::after, #channel-context::after,
#user-settings-cog::after, #audio-device-context::after, #user-context::after,
#message-actions::after {
    content: "";
    backdrop-filter: blur(var(--blur));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-radius: var(--radius);
}

/*color and transparency before or after*/
.quickswitcher_a3d29a::after,#sort-and-view::after, .container_ae7412::before,
.form_a88d78::after, #guild-header-popout::after,
.messagesPopoutWrap_b3b384::before, .container_d6dad3::after,
:not(aside):not(.customizationSection__16fec)>.userProfileOuterThemed__6eb84::before,
:not(aside):not(.customizationSection__16fec)>.userProfileOuterUnthemed__48723::before,
.menu_dc52c6:not(#guild-context):not(#sort-and-view).flexible__7055b:first-child::before, 
.submenu_acf564.menu_dc52c6::before,
.contentWrapper__321ed::before, 
:not(.contentWrapper__321ed)>#emoji-picker-tab-panel::after, #guild-context::after,
.layer_ec16dd:has(.container__03857)::before,
.container__20de0::before, .container__23c08::before,
.focusLock__10aa5>.modal__6a96b::after   {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: var(--radius);
}
.modal__082b3::after, .popout__24e32::after, .picker__6dca7::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-chat, var(--background-primary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: var(--radius);
}

.wrapper_c727b6::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-5, var(--background-primary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
}
.autocomplete_df266d::before,.streamPreview__1846c::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
}


/*slight tint*/
.theme-light .wrapper_cd625e, .theme-light .inner__999f6,
.theme-light .inner__178b2 {
    background: rgba(0, 0, 0, 0.05) !important;
}
.theme-dark .wrapper_cd625e, .theme-dark .inner__999f6,
.theme-dark .inner__178b2 {
    background: rgba(255, 255, 255, 0.05) !important;
}

.messageGroupWrapper_f8c6e9::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    border-radius: var(--radius);
    background: var(--bg-overlay-chat, var(--background-primary) )!important;
}
.reactionTooltip__9384a::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
    background: var(--bg-overlay-chat, var(--background-primary) )!important;
}
.footer__13977::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background: var(--bg-overlay-3, var(--background-secondary) )!important;
}




/*fix hidden scrollbars*/
.submenuPaddingContainer__12a9d::before, .submenu_acf564.menu_dc52c6::before {
    width: calc(100% - 16px);
    left: 8px;
}
.layer_ec16dd:has(.container__03857)::before {
    width: calc(100% - 16px);
    left: 16px;
}
/*border radius*/
.userPopoutOuter_d739b2, .popout__24e32, .container_d6dad3, .messagesPopoutWrap_b3b384, .menu_dc52c6,.scroller__750f5  {
    border-radius: var(--radius)!important;
}
.inner__999f6::before,
.inner__178b2::before, .root_a28985::after,.root_a28985::before  {
    border-radius: 4px;
}
.roundedBanner__9fa0a {
    border-radius: calc(var(--radius) - 4px) calc(var(--radius) - 4px) 0 0;
}
.categoryList_f8c48f {
    border-bottom-left-radius: var(--radius) ;
}


/*simple line shadow above*/
.footer__89240, .inspector__993e1 {
        box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025)!important;
}

/*other*/
.avatarHoverTarget__3a360 .svg_f5b652 > circle,
.root_ba16f0 .svg_f5b652 > circle {
    opacity: 0!important;
}  
:not(aside):not(.customizationSection__16fec)>div>div>div>div>svg>foreignObject>.banner__6d414 {
    background-color: transparent!important;
}
.resultsGroup_ea9b64:before,.rolePillBorder__00c58 {
    border: none!important;
}
.header_f5cc88 {
    margin-bottom: 1px;
}

/*.theme-light .defaultColor__37d78,*/ .theme-light .misc__9152e, 
.theme-light .discriminator_a801dd,
.theme-light .userProfileModalOuter__3fe6b .additionalActionsIcon__33de0,
.theme-light .text-sm-normal_e612c7 {
    color: rgba(0, 0, 0, 0.7)!important;
}
/*.theme-dark .defaultColor__37d78,*/ .theme-dark .misc__9152e, 
.theme-dark .discriminator_a801dd,
.theme-dark .userProfileModalOuter__3fe6b .additionalActionsIcon__33de0,
.theme-dark .text-sm-normal_e612c7 {
    color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light .item__48dda  {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .item__48dda {
    color: rgba(255, 255, 255, 0.8);
}

.theme-light .defaultColor__87d87, .theme-dark .defaultColor__87d87 {
    color: var(--header-primary);
}


.channelHeader__5d30c {
    z-index: 0;
}
.messages_f7999e {
    z-index: 1;
    position: relative;
}
#notification-actions {
    position: relative;
}

/*Tooltip*/
.theme-light .tooltip__01384, .theme-light .popoutContainer__7b9a3 { 
    --background-floating: rgba(255,255,255,var(--opacity));
    backdrop-filter: blur(var(--blur));
}
.theme-dark .tooltip__01384, .theme-dark .popoutContainer__7b9a3 { 
    --background-floating: rgba(0,0,0,var(--opacity));
    backdrop-filter: blur(var(--blur));
}
.theme-dark .containerBackground__1e084  { 
    --background-floating: rgba(0,0,0,var(--opacity));
}
.theme-light .containerBackground__1e084  { 
    --background-floating: rgba(255,255,255,var(--opacity));
}

.container__628bd{
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
}
.containerBackground__1e084:after{
    margin-top: 0;
}

.emojiPicker_b65ce9, .container_dbdb0b {
    box-shadow: none;
}
.animatorLeft_b2289c ::before {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
}

.theme-light .unicodeShortcut__1dd6b {
    backdrop-filter: blur(8px) contrast(0.5) brightness(1.3);
    background: none;
}
.theme-dark .unicodeShortcut__1dd6b {
    backdrop-filter: blur(8px) brightness(0.8);
    background: none;
}
  
@supports (background: color-mix(in srgb, red 50%, blue 50%)
    ) {
    :not(aside):not(.customizationSection__16fec)>.userProfileOuterThemed__6eb84::before {background: linear-gradient(
        color-mix(in hsl, var(--profile-gradient-primary-color) calc(100% * var(--opacity)), transparent),
        color-mix(in hsl, var(--profile-gradient-secondary-color) calc(100% * var(--opacity)), transparent)
    )
    !important; opacity:1;
    }
}

#image-context, #expression-picker {
    position: absolute;
}

.backdrop__7e89b {
    background: none!important;
}
:not(.focusLock__10aa5)>.rootWithShadow__073a7,
.quickswitcher_a3d29a {
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 1)!important;
}
