/*Userprofile backgrounds hiding*/
.userProfileInner__61cc1 .input_f27786, .popoutNoBannerPremium__587cf,
:not(aside):not(.customizationSection__0f57e)>.userProfileOuterThemed__1fbd7, 
:not(aside):not(.customizationSection__0f57e)>.userProfileOuterUnthemed_e14365, 
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInnerThemedWithBanner__2152d,
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInnerThemedPremiumWithoutBanner__3705a,
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInnerThemedNonPremium_ed9022,
:not(aside):not(.customizationSection__0f57e)>div>div>.overlayBackground__2666e {
    background: none!important;
}
.userProfileInnerThemedNonPremium_ed9022 .popoutBanner__3fbe8{
    opacity: 0;
}
/*frame*/
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInnerThemedWithBanner__2152d:after,
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInnerThemedPremiumWithoutBanner__3705a::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 4px;
  border-radius: var(--radius);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/*remove background*/
.container_aa220a,.container__1e477, .popout__24e32, .footer__6b9ef, .option__91497::after, 
.focused__68b93, .badgeList__126b0, .root_a28985, 
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInner__61cc1:before, 
.wrapper__91b2c, 
.profileBadges__1f2ab, .footer_e0b400, .wrapper__4e6b6,
.container_ec5ce2,.container__33507,
.channelHeader_ea0f89,.messageGroupWrapper__1fce2,
.messagesPopoutWrap__10dd1, 
.header__21b33, .container__84c26,.quickswitcher_b5bb0a, 
.input__2a648, .scroller_d4b86c, .menu__088f7, #popout_4842, 
.contentWrapper_e0bb2c,  .wrapper__45980,
.scroller__8f066, .container__d6dad3, .resultsGroup_b221b0,
.contentWrapper_e0bb2c, .emojiPicker__5e2e2, .inspector__80c84, 
.header_e5d8b2, .modal__082b3, .rolePill_f50ff5,  .previewContainer__1e0bb,
.container_eb737e,.container_cdf5a8, .footer_f06dbb, 
.reactors__0f305, .scroller__9a4f3,
.root_a28985, .list__4e6aa, .header__6d44a, .container__9922f  
{
    background: none!important;
}

/*blur*/
.reactionTooltip__20d0b,#sort-and-view, .container_a0ef70, .popout__24e32, 
#user-profile-actions, .wrapper__4e6b6 ,
.messagesPopoutWrap__10dd1,.contentWrapper_e0bb2c, 
.quickswitcher_b5bb0a,.picker__6dca7,
.autocomplete__743a5, .streamPreview__965fa  ,.container__628c8,
.container_eb737e, .container__23c08, .form__7ab21 ,
.focusLock__28507>.modal__6a96b,
.popout__08442, [aria-labelledby]>.root_a28985 ,
.uploadModal__6eb75, .rootWithShadow_d20cd6:has(>.reactorsContainer__867ec),
.root_a28985:has(>[id]), .root_a28985:has(>.transitionGroup_cf0aed),
#manage-multi-account, .container_f93da8, [class^="toast_"] {
    background: transparent!important;
    backdrop-filter: blur(var(--blur));
    
}

/*blur before*/
#guild-header-popout::before,
.container__84c26::before, 
:not(aside):not(.customizationSection__0f57e)>.userProfileOuterUnthemed_e14365::after,
:not(aside):not(.customizationSection__0f57e)>div>.userProfileInner__61cc1:before, 
.modal__082b3::before,
.submenuPaddingContainer__5a97c::before, 
:not(.contentWrapper_e0bb2c)>#emoji-picker-tab-panel::before,.container__628c8::before,
#message::after, #guild-context::before, #channel-attach::after, #thread-context::after,
#image-context::after, #expression-picker::after, #channel-context::after,
#user-settings-cog::after, #audio-device-context::after, #user-context::after,
#message-actions::after, #textarea-context::after, #vc-toolbox::after {
    content: "";
    backdrop-filter: blur(var(--blur));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-radius: var(--radius);
}

/*color and transparency before or after*/
.quickswitcher_b5bb0a::after,#sort-and-view::after, .container_a0ef70::before,
.form__7ab21::after, #guild-header-popout::after,
.messagesPopoutWrap__10dd1::before, .container__84c26::after,
:not(aside):not(.customizationSection__0f57e)>.userProfileOuterThemed__1fbd7::before,
:not(aside):not(.customizationSection__0f57e)>.userProfileOuterUnthemed_e14365::before,
.menu__088f7:not(#guild-context):not(#sort-and-view).flexible__1e80b:first-child::before, 
.submenu_aed9ee.menu__088f7::before,
.contentWrapper_e0bb2c::before, 
:not(.contentWrapper_e0bb2c)>#emoji-picker-tab-panel::after, #guild-context::after,
.layer__6b5c3:has(.container__628c8)::before,
.container_eb737e::before, .container__23c08::before,
.focusLock__28507>.modal__6a96b::after,
.popout__08442::after, [aria-labelledby]>.root_a28985::after,
.uploadModal__6eb75::after, 
.rootWithShadow_d20cd6:has(>.reactorsContainer__867ec)::after,
.root_a28985:has(>[id])::after, 
.root_a28985:has(>.transitionGroup_cf0aed)::after, 
.container_f93da8::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: var(--radius);
}

[class^="toast_"]::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: inherit;
}
.modal__082b3::after, .popout__24e32::after, .picker__6dca7::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-chat, var(--background-primary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: var(--radius);
}

.wrapper__4e6b6::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-5, var(--background-primary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
}
.autocomplete__743a5::before,.streamPreview__965fa::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
}


/*slight tint*/
.theme-light .wrapper__45980, .theme-light .inner__999f6,
.theme-light .inner__178b2 {
    background: rgba(0, 0, 0, 0.05) !important;
}
.theme-dark .wrapper__45980, .theme-dark .inner__999f6,
.theme-dark .inner__178b2 {
    background: rgba(255, 255, 255, 0.05) !important;
}

.messageGroupWrapper__1fce2::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    border-radius: var(--radius);
    background: var(--bg-overlay-chat, var(--background-primary) )!important;
}
.reactionTooltip__20d0b::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    z-index: -1;
    border-radius: 4px;
    background: var(--bg-overlay-chat, var(--background-primary) )!important;
}
.footer_d84330::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background: var(--bg-overlay-3, var(--background-secondary) )!important;
}




/*fix hidden scrollbars*/
.submenuPaddingContainer__5a97c::before, .submenu_aed9ee.menu__088f7::before {
    width: calc(100% - 16px);
    left: 8px;
}
.layer__6b5c3:has(.container__628c8)::before {
    width: calc(100% - 16px);
    left: 16px;
}
/*border radius*/
.userPopoutOuter__3884e, .popout__24e32, .container__84c26, .messagesPopoutWrap__10dd1, .menu__088f7,.scroller__8f066  {
    border-radius: var(--radius)!important;
}
.inner__999f6::before,
.inner__178b2::before, .root_a28985::after,.root_a28985::before  {
    border-radius: 4px;
}
.roundedBanner__16aa6 {
    border-radius: calc(var(--radius) - 4px) calc(var(--radius) - 4px) 0 0;
}
.categoryList_eac4ac {
    border-bottom-left-radius: var(--radius) ;
}


/*simple line shadow above*/
.footer_e0b400, .inspector__80c84 {
        box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025)!important;
}

/*other*/
.avatarHoverTarget__9b4a9 .svg_a6bf1c > circle,
.root_ba16f0 .svg_a6bf1c > circle {
    opacity: 0!important;
}  
:not(aside):not(.customizationSection__0f57e)>div>div>div>div>svg>foreignObject>.banner__6d414 {
    background-color: transparent!important;
}
.resultsGroup_b221b0:before,.rolePillBorder_e3a889 {
    border: none!important;
}
.header__21b33 {
    margin-bottom: 1px;
}

/*.theme-light .defaultColor__30336,*/ .theme-light .misc__9152e, 
.theme-light .discriminator__9d9f2,
.theme-light .userProfileModalOuter_a65559 .additionalActionsIcon__6b109,
.theme-light .text-sm-normal__95a78 {
    color: rgba(0, 0, 0, 0.7)!important;
}
/*.theme-dark .defaultColor__30336,*/ .theme-dark .misc__9152e, 
.theme-dark .discriminator__9d9f2,
.theme-dark .userProfileModalOuter_a65559 .additionalActionsIcon__6b109,
.theme-dark .text-sm-normal__95a78 {
    color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light .item__48dda  {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark .item__48dda {
    color: rgba(255, 255, 255, 0.8);
}

.theme-light .defaultColor__8610e, .theme-dark .defaultColor__8610e {
    color: var(--header-primary);
}


.channelHeader_ea0f89 {
    z-index: 0;
}
.messages__1aaa1 {
    z-index: 1;
    position: relative;
}
#notification-actions {
    position: relative;
}

/*Tooltip*/
.theme-light .tooltip__7b090, .theme-light .popoutContainer__66068 { 
    --background-floating: rgba(255,255,255,var(--opacity));
    backdrop-filter: blur(var(--blur));
}
.theme-dark .tooltip__7b090, .theme-dark .popoutContainer__66068 { 
    --background-floating: rgba(0,0,0,var(--opacity));
    backdrop-filter: blur(var(--blur));
}
.theme-dark .containerBackground__65bbe  { 
    --background-floating: rgba(0,0,0,var(--opacity));
}
.theme-light .containerBackground__65bbe  { 
    --background-floating: rgba(255,255,255,var(--opacity));
}

.container__3ac06{
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
}
.containerBackground__65bbe:after{
    margin-top: 0;
}

.emojiPicker__5e2e2, .container_aa220a {
    box-shadow: none;
}
.animatorLeft_f985f4 ::before {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
}

.theme-light .unicodeShortcut__01a83 {
    backdrop-filter: blur(8px) contrast(0.5) brightness(1.3);
    background: none;
}
.theme-dark .unicodeShortcut__01a83 {
    backdrop-filter: blur(8px) brightness(0.8);
    background: none;
}
  
@supports (background: color-mix(in srgb, red 50%, blue 50%)
    ) {
    :not(aside):not(.customizationSection__0f57e)>.userProfileOuterThemed__1fbd7::before {background: linear-gradient(
        color-mix(in hsl, var(--profile-gradient-primary-color) calc(100% * var(--opacity)), transparent),
        color-mix(in hsl, var(--profile-gradient-secondary-color) calc(100% * var(--opacity)), transparent)
    )
    !important; opacity:1;
    }
}

#image-context, #expression-picker {
    position: absolute;
}

.backdrop__1a911 {
    background: none!important;
}
.rootWithShadow_d20cd6:not(:has(> .quickswitcher_b5bb0a)),
.quickswitcher_b5bb0a {
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1)!important;
}
